@font-face {
    font-family: 'sutregular';
    src: url('../fonts/sut_regular-webfont.woff2') format('woff2'), url('../fonts/sut_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0E00-U+0E7F;
}

@font-face {
    font-family: 'sutbold';
    src: url('../fonts/sut_regular-webfont.woff2') format('woff2'), url('../fonts/sut_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0E00-U+0E7F;
}

div {
    font-family : sutregular;
}

#cent {
    /*align-items: center;*/
    text-align: center;
}

#foot{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightpink;
    color: white;
}

#imgpro{
    height: 50px;
    width: auto;
}
